.duokan-footnote > img {
  width: 1em;
}
p {
  text-indent: 2em;
}
p.center {
  text-align: center;
}

div.title {
}

h2.caption {
  font-size: 1.2em;
  text-indent: 0em;
  duokan-text-indent: 0em;
  color: #91531d;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0em;
  padding: 0em;
}

h2.t1 {
  color:rgb(173, 118, 16);
  font-size: 2em;
  font-weight: normal;
  border-bottom: solid 1px rgb(115, 60, 9);
  padding: 0em;
  padding-bottom: 0.5em;
  margin: 0em;
  duokan-text-indent: 0em;
  text-indent: 0em;
}
